* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header */

.header {
    text-align: center;
    margin: 10px 0px;
    color: gray;
    font-size: 13px;
}

.header span {
    color: blue;
    font-size: 14px;
}

/* body section */

main {
    display: flex;
    height: 90vh;
}

/* left section */

.left-section {
    width: 33.33%;
    height: 90vh;
}

.left-cart {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 290px;
    width: 200px;
    height: 300px;
    position: relative;
    border-radius: 4px;
    text-align: center;
}

.backround-img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.person-img {
    width: 35%;
    border-radius: 50%;
    padding: 3px;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 70px;
}

.left-section h3 {
    margin-top: 35px;
}

.left-section p {
    font-size: 13px;
    color: gray;
}

.left-section .first-p {
    margin-top: 5px;
}

.left-section h2 {
    margin-top: 10px;
    font-size: 19px;
    color: rgb(35, 143, 244);
}

.left-section .second-hr {
    width: 85%;
    margin-left: 13px;
}

/* middle section */

.middle-section {
    width: 33.33%;
    height: 90vh;
    padding: 0 5px;
}

/* middle section first cart */

.middle-section .firt-cart {
    width: 100%;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
}

.middle-section .section {
    display: flex;
    height: 50%;
    align-items: center;
    margin: 0 15px;
    font-size: 14px;
    color: gray;
}

.middle-section .top {
    display: flex;
    justify-content: space-between;
}

.middle-section .top i {
    font-size: 20px;
    margin-right: 20px;
}

.middle-section hr {
    color: gray;
    width: 90%;
    margin-left: 23px;
}

.middle-section .bottom p {
    margin-left: 10px;
}

.middle-section .bottom button {
    margin-left: auto;
    width: 70px;
    height: 25px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    background-color: rgb(138, 198, 241);
}

/* middle section first cart */

.middle-section .second-cart {
    width: 100%;
    color: gray;
    height: 280px;
    margin-top: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    position: relative;
}

/* middle section second cart */


.second-cart .top {
    display: flex;
}

.second-cart .top img {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.second-cart .name-and-skills {
    margin-bottom: 50px;
}

.second-cart .name-and-skills h3 {
    color: black;
    margin-right: 210px;
}

.second-cart .name-and-skills p {
    font-size: 13px;
}

.second-cart .icon {
    margin-bottom: 90px;
    font-size: 10px;
}

.second-cart .sub-top {
    font-size: 13px;
    padding: 10px;
}

.second-cart .details {
    margin-top: -55px;
}

.second-cart .likes {
    margin-top: 5px;
    color: gray;
}

.second-cart .icons {
    display: flex;
    font-size: 13px;
    color: gray;
    padding: 5px;
}

.second-cart .icons i {
    margin-left: 20px;
}

.second-cart .icons p {
    margin-left: 8px;
}

.second-cart .bottom-section {
    background-color: rgb(237, 240, 240);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.second-cart .bottom-section .first-person {
    display: flex;
    padding: 5px;
}

.second-cart .bottom-section .first-person img {
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}

.second-cart .bottom-section .first-person p {
    font-size: 10px;
}

.second-cart .bottom-section .first-person span {
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.second-cart .bottom-section .first-person .mint {
    margin-left: 30px;
}

.second-cart .bottom-section .like {
    font-size: 12px;
    margin-left: 45px;
    margin-top: -15px;
}

.second-cart .bottom-section .second-person {
    display: flex;
}

.second-cart .bottom-section .second-person img {
    width: 30px;
    border-radius: 50%;
    margin: 10px;
}

.second-cart .bottom-section .second-person input {
    width: 430px;
    height: 30px;
    margin-top: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* middle section first cart */


.middle-section .third-cart {
    width: 100%;
    height: 440px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
}

.middle-section .third-cart .heading {
    display: flex;
    align-items: center;
}

.middle-section .third-cart .heading img {
    width: 60px;
}

.middle-section .third-cart .heading .name {
    font-size: 14px;
    font-weight: bold;
}

.middle-section .third-cart .heading .name span {
    color: gray;
    font-size: 10px;
}

.middle-section .third-cart .heading button {
    margin-left: auto;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    border: 1px solid rgb(48, 168, 238);
    color: rgb(33, 162, 243);
    border-radius: 3px;
}

.middle-section .third-cart .content {
    font-size: 11px;
    padding: 5px;
    margin-left: 15px;
    color: gray;
}

.middle-section .third-cart .content span {
    color: rgb(28, 129, 230);
}

.middle-section .third-cart .img img {
    width: 100%;
    padding: 10px;
    height: auto;
}

/* right section */

.right-section {
    padding: 0 5px 5px 10px;
    width: 33.33%;
    height: 90vh;
}

.right-section .contents .first-p {
    font-size: 16px;
}

.right-section .contents .first-p i {
    margin-left: 110px;
    color: black;
}

.right-section .contents p {
    color: gray;
    font-size: 13px;
    margin-top: 4px;
}

.right-section .contents h4 {
    margin-top: 5px;
}

.right-section .img img {
    width: 330px;
    height: 230px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
}

.right-section .icons .main-p {
    margin: 20px 0;
    font-size: 14px;
}

.right-section .icons .main-p span {
    color: gray;
    font-size: 12px;
}

.right-section .icons .first-h {
    display: flex;
}

.right-section .icons .first-h img {
    width: 60px;
    height: 50px;
}

.right-section .icons .first-h p {
    font-size: 10px;
    margin-left: 15px;
    color: gray;
}

.right-section .icons .first-h p span {
    font-size: 15px;
    color: black;
}

.right-section .icons .first-h i {
    margin-left: auto;
    margin-right: 150px;
}

.right-section .icons .second-h {
    display: flex;
    margin-top: 10px;
}

.right-section .icons .second-h img {
    width: 60px;
    height: 50px;
    border-radius: 50%;
}

.right-section .icons .second-h p {
    font-size: 10px;
    margin-left: 15px;
    color: gray;
}

.right-section .icons .second-h p span {
    font-size: 15px;
    color: black;
}

.right-section .icons .second-h i {
    margin-left: auto;
    margin-right: 150px;
}